* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Pixeloid';
    src: url('font.ttf') format('truetype'),
        url('font.woff') format('woff');
}

@keyframes floating {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(-1px, -4px);
    }

    100% {
        transform: translate(0, 0);
    }
}

body {
    background-color: #c5dbd4;
    color: #221e31;
    font-family: 'Pixeloid', sans-serif;
    font-size: 24px;
}

main {
    padding-left: 5vw;
}

h1 {
    color: #41485d;
    margin-bottom: 2vh;
    font-size: 48px;
}

section {
    margin-top: 6vh;
    margin-bottom: 30vh;
    display: flex;
}

.illustration {
    border-radius: 15px;
    color: #778e9822;
    box-shadow: 4px 4px;
    margin-top: 10vh;
    animation: floating 3s ease-in-out infinite;
}

#menu_bar ul {
    position: fixed;
    padding: 0px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    align-items: center;
    background-color: #778e98;
    border-radius: 2px;
    color: #778e9822;
    box-shadow: 0px 4px;
}

#menu_bar ul li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#menu_bar ul li a {
    text-decoration: none;
    color: #221e31;
}

#container_home_img img {
    width: 500px;
    float: left;
    margin-left: 3vw;
}

#container_contacts_links {
    align-items: center;
    flex-wrap: wrap;
}

#container_contacts_links {
    margin-top: 10vh;
    text-align: center;
    margin-left: 17vw;
}

#container_contacts_links a img {
    width: 64px;
    margin-right: 20px;
    margin-bottom: 15px;
}

#container_portfolio ul {
    list-style-type: '° ';
    padding-left: 3vw;
}

#container_portfolio_img img {
    width: 500px;
    margin-left: 32vw;
}

#service_img_container img {
    width: 500px;
    margin-left: 5vw;
}
